.perspective {
  perspective: 1200px;
}

.flip-card {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.card-container:hover .flip-card {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 1.5rem;
}

.back {
  transform: rotateY(180deg);
}
