@import "tailwindcss";

@layer utilities {
  .animate-dash {
    stroke-dasharray: 4500;
    animation: dash 8s ease forwards ;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }


  }
}

  @theme{
    --drop-shadow-3xl: 0 15px 15px rgba(0, 0, 0, 0.55);
  }

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #2c5364, #0f2027);
}